<section id="slider_wrapper" class="slider_wrapper full_page_photo">
     <div id="main_flexslider" class="flexslider">
          <ul class="slides">
               <li class="item" style="background-image: url(images/1.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
															<h1><strong>Virus</strong> Removal & Tune Up</h1>
                              <p class="lead skincolored">A complete series of scans designed to detect and remove ALL infections from your system.  All system updates will be completed as well as a complete tune up to get your computer running like new!</p>
												 </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/2.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>Data <strong>Backup</strong></h1>
                              <p class="lead skincolored">If your hard drive crashed, panic can hit quickly when you realize all your pictures and documents could be lost.  Let us recover those files and get you up and running again in no time!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/3.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored">Operating System <strong>Installations</strong></h1>
																<p class="lead">If you ever have had a hard drive die you know the painful experience of installing an operating system.  Let us take the hassle away, even if you do not have your original recovery media.  We will install the OS, all system drivers, updates, and optimize your computer to run at it's peak performance.  All you have to do is just turn it on!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/4.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
															<h1><strong>Hardware</strong> Install</h1>
                              <p class="lead skincolored">Be it a new video card, optical drive, keyboard, fan, or anything else, we can get it install and running the same day.</p>
												 </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/5.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>Software</strong> Install</h1>
                              <p class="lead skincolored">Trouble installing that software?  Let us help.  From something as simple as anti-virus software to as complex as Rosetta Stone, we will get it installed and working for you!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/6.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored">Physical <strong>Cleaning</strong></h1>
																<p class="lead">Laptops and desktops can get quiet dirty over time.  Let us blow the dust out, remove build-up from the fans, and prevent overheating.  LCD screen cleaning, keyboard cleaning, and more.  Get it shining like new today!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/7.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored">Printer <strong>Setup</strong></h1>
																<p class="lead">Bought a nice new printer, but can't get it working?  Let us take the hassle away and make it a painless experience.  Wired or wireless.</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/8.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1><strong>Network</strong> Setup</h1>
                              <p class="lead skincolored">Everything is wireless these days and you will need your home to be wireless too.  We will come to your location and setup your network, secure the network, and connect all of your devices for seamless streaming!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/9.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored">1 on 1 <strong>Training</strong></h1>
																<p class="lead">Sometimes what you need is someone to sit down with you and answer your questions without talking down to you.  Have us teach you anything you want to know in a relaxed environment without feeling rushed.  We love to help!</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="background-image: url(images/10.jpg)">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1 class="skincolored">Computer <strong>Recycling</strong></h1>
																<p class="lead">Bring in your old electronics and we will recycle them for you.  As always, we never charge to recycle your old electronics.</p>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</section>
<div class="main">
     
     <section class="call_to_action">
          <div class="container">
               <h3>$25 Virus removal and tune up for new customers<br />Call Today!</h3>
							 <p class="lead">We offer the lowest pricing around with the fastest service times to get you back up and running the SAME DAY! We are here for ALL your computer needs with friendly service and the knowledge and experience to get the job done right the first time.</p>
							 <p class="lead">In-home service is available as well as business services at your convenience. We will do whatever it takes to earn your business and serve you and your friends and family for years to come. If you have any questions, you call anytime.</p><p class="lead"> <a href="tel:6037700852">(603) 770-0852</a></p>
          </div>     
     </section>
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
									<div class="feature_teaser col-sm-6 col-md-6">
                    <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/visa.gif">
                    </div>
                   <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/mastercard.gif">
                    </div>
                   <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/discover.jpg">
                    </div>
                   <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/americanexpress.gif">
                    </div>
									</div>
									<div class="feature_teaser col-sm-6 col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.115941836181!2d-70.87291080000001!3d42.8915005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e2e659ecd667b3%3A0x763c734c6874639f!2sSeacoast+PC+Repair!5e0!3m2!1sen!2sus!4v1442779788718" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>

               </div>
          </div>
     </section>
