<div class="full_page_photo" style="background-image: url(images/9.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">In Home Serivce</h3>
               <h4 class="animated bounceInUp skincolored">yes, we'll come to you too</h4>
          </section>
     </div>
</div>
<div class="main">
     <section class="call_to_action">
          <div class="container">
               <p class="lead">It will be our pleasure to come to your location to resolve your tech needs. In some cases, such as home networking, it is the only option to get the necessary work completed.</p>
               <p class="lead">Appointments are available anytime and can be completed the same day! Please give us a call at <a href="tel:6037700852">(603) 770-0852</a> to make an appointment.</p>
							 <p class="lead">We accept all major credit cards in the store or even your home.</p>
          </div>    
     </section>
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
                  <div class="feature_teaser col-sm-6 col-md-6">
                    <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/visa.gif">
                    </div>
                   <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/mastercard.gif">
                    </div>
                   <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/discover.jpg">
                    </div>
                   <div class="feature_teaser col-sm-6 col-md-6"> <img alt="responsive" src="images/americanexpress.gif">
                    </div>
                  </div>
                  <div class="feature_teaser col-sm-6 col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.115941836181!2d-70.87291080000001!3d42.8915005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e2e659ecd667b3%3A0x763c734c6874639f!2sSeacoast+PC+Repair!5e0!3m2!1sen!2sus!4v1442779788718" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>

               </div>
          </div>
     </section>

