<div class="full_page_photo" style="background-image: url(images/5.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">Phones and Tablets</h3>
               <h4 class="animated bounceInUp skincolored">we fix most phones and tablets</h4>
          </section>
     </div>
</div>
<div class="main">
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
									 <div class="feature_teaser col-sm-2 col-md-3"></div>
                   <div class="feature_teaser col-sm-8 col-md-6">
										 <table class="table table-striped table-hover">
											<!-- <tr><td>Name</td><td>Price</td></tr> -->
											<h4>If you don't see your specific device listed, we might still fix it.  Give us a call to find out today!</h4>
											<tr><td class='text-left'>iPhone 4</td><td width="20%" class="text-right text-danger">$70</td></tr>
											<tr><td class='text-left'>iPhone 4s</td><td width="20%" class="text-right text-danger">$70</td></tr>
											<tr><td class='text-left'>iPhone 5</td><td width="20%" class="text-right text-danger">$80</td></tr>
											<tr><td class='text-left'>iPhone 5c</td><td width="20%" class="text-right text-danger">$90</td></tr>
											<tr><td class='text-left'>iPhone 5s</td><td width="20%" class="text-right text-danger">$90</td></tr>
											<tr><td class='text-left'>iPhone 6</td><td width="20%" class="text-right text-danger">$100</td></tr>
											<tr><td class='text-left'>iPhone 6 plus</td><td width="20%" class="text-right text-danger">$140</td></tr>
										 </table>
									 </div>
									 <div class="feature_teaser col-sm-2 col-md-3"></div>
							 </div>
          </div>
     </section>
