<div class="full_page_photo" style="background-image: url(images/11.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">Pricing</h3>
               <h4 class="animated bounceInUp skincolored">call us if you don't see something listed that you are looking for</h4>
          </section>
     </div>
</div>
<div class="main">
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Virus Removal &amp; Tune Up</h2>
											<p class="lead">A complete series of scans designed to detect and remove ALL infections from your system. All system updates will be completed as well as a complete tune up to get your computer running like new!</p>
											<h2 class="text-danger">$50</h2>
									 </div>
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Data Backup</h2>
											<p class="lead">If your hard drive crashed, panic can hit quickly when you realize all your pictures and documents could be lost. Let us recover those files and get you up and running again in no time!</p>
											<h2 class="text-danger">$50</h2>
									 </div>
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Operating System Install</h2>
											<p class="lead">If you ever have had a hard drive die you know the painful experience of installing an operating system. Let us take the hassle away, even if you do not have your original recovery media. We will install the OS, all system drivers, updates, and optimize your computer to run at it's peak performance. All you have to do is just turn it on!</p>
											<h2 class="text-danger">$60</h2>
									 </div>
</div><div class="row">
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Hardware Install</h2>
											<p class="lead">Be it a new video card, optical drive, keyboard, fan, or anything else, we can get it install and running the same day.</p>
											<h2 class="text-danger">$50</h2>
									 </div>
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Software Install</h2>
											<p class="lead">Trouble installing that software? Let us help. From something as simple as anti-virus software to as complex as Rosetta Stone, we will get it installed and working for you!</p>
											<h2 class="text-danger">$20</h2>
									 </div>
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Physical Cleaning</h2>
											<p class="lead">Laptops and desktops can get quiet dirty over time. Let us blow the dust out, remove build-up from the fans, and prevent overheating. LCD screen cleaning, keyboard cleaning, and more. Get it shining like new today!</p>
											<h2 class="text-danger">$25</h2>
									 </div>
</div><div class="row">

                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Printer Setup</h2>
											<p class="lead">Bought a nice new printer, but can't get it working? Let us take the hassle away and make it a painless experience. Wired or wireless.</p>
											<h2 class="text-danger">$50</h2>
									 </div>
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Network Setup</h2>
											<p class="lead">Everything is wireless these days and you will need your home to be wireless too. We will come to your location and setup your network, secure the network, and connect all of your devices for seamless streaming!</p>
											<h2 class="text-danger">$50</h2>
									 </div>

                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>DC Jack Replacement</h2>
											<p class="lead">The charge port is vital to your laptop.  Without it you cannot charge it on power it on.  We can replace a broken jack and get you back up and running like it never happened!</p>
											<h2 class="text-danger">$65</h2>
									 </div>
</div><div class="row">

                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Motherboard Replacement</h2>
											<p class="lead">A bad motherboard used to mean a death sentence for your computer.  Now with our affordable service you can revive that computer you love and avoid having to buy a new new one!</p>
											<h2 class="text-danger">$100 +Motherboard</h2>
									 </div>

                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>1 on 1 Training</h2>
											<p class="lead">Sometimes what you need is someone to sit down with you and answer your questions without talking down to you. Have us teach you anything you want to know in a relaxed environment without feeling rushed. We love to help!</p>
											<h2 class="text-danger">$50/hr</h2>
									 </div>
                   <div class="feature_teaser col-sm-4 col-md-4">
											<h2>Computer Recycling</h2>
											<p class="lead">Bring in your old electronics and we will recycle them for you. As always, we never charge to recycle your old electronics.</p>
											<h2 class="text-danger">Free</h2>
									 </div>

							 </div>
          </div>
     </section>
