<div class="full_page_photo" style="background-image: url(images/10.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">Testimonials</h3>
               <h4 class="animated bounceInUp skincolored">checkout what our customers have to say</h4>
          </section>
     </div>
</div>
<div class="main">
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">Thank you, Bryan! It was a pleasure meeting you and doing business with you. The laptop is running at breakneck speed!</p><p class="lead text-right"><i>- Elizabeth Moughan Boothroyd</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">Mother’s computer is up and running now to just get it back up to her. I wanna thank Seacoast PC and I highly recommend him very fast, efficient and cost friendly.</p><p class="lead text-right"><i>- Dora Lea Fallon</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">I had Seacoast PC fix my computer last week. I can’t say enough good things about Bryan.Not only did he fix it, he also explained things to me that I didn’t know. I fell for those criminals that have the scam pretending to be from Microsoft. Thanks to Bryan I will never do that again. My computer is now running like it’s new. Thank you Bryan!</p><p class="lead text-right"><i>- Denise Johnson</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">This is the place to go for your computer needs!!! These guys are great!!! I thought I needed 2 new laptops..however they removed 12000 viruses I had on 1 laptop ( that’s right 12000 ) got it home and my son started his game and was amazed at the speed !!! As for me very happy that I didn’t have to buy a new laptop!!! Thank you so much!!!</p><p class="lead text-right"><i>- Venus Merrill</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">I just want to say Bryan at Seacoast PC is very knowledgeable and can help you out with your computer problems! My girlfriend and I went there this weekend and he got her slow running computer running like new and for just $50. we are very happy with the job he done!</p><p class="lead text-right"><i>- Jim LaValley</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">Very friendly and prompt service. Very good business hours.</p><p class="lead text-right"><i>- John Falasca</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">I was having pop ups so I brought my laptop to Bryan for this special. I had 7 viruses and 3 virus protections running, which I did not download 2 of them. Happy happy with my laptop again.</p><p class="lead text-right"><i>- Leslee Merrill</i></p></div>
                   <div class="feature_teaser col-sm-6 col-md-6"><p class="lead">Very thorough and brought the computer back to the house. Bryan explained everything that he fixed, as well as making sure everything was complete and understood. Explaining each step for the new program. Thank you Bryan.</p><p class="lead text-right"><i>- Marnie Heart</i></p></div>
               </div>
          </div>
     </section>
